* {
  margin: 0;
  padding: 0;
}

/* .app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
} */

.form-field {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18%;
  margin: auto;
  line-height: 35px;
  margin-top: 20px;
}

.form-field-radio {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 13px;
}
h1 {
  text-align: center;
}
.abc {
  background-color: aliceblue;
}
